
services:
  branch_fw:
    hostname: branch_fw
    build: ./fw
    container_name: branch_fw
    #privileged: true
    cap_add: [ "NET_ADMIN" ]
    restart: always
    sysctls:
      net.ipv4.ip_forward: 1    
      net.ipv4.conf.all.src_valid_mark: 1              
    networks:
      1uplink_net:
        ipv4_address: ${SUBNET_BRANCH_UPLINK}.100
        gw_priority: 100
      2users_net:
        ipv4_address: ${SUBNET_BRANCH_USERS}.254
        gw_priority: 10
      3dmz_net:
        ipv4_address: ${SUBNET_BRANCH_DMZ}.254
        gw_priority: 10
      4servers_net:
        ipv4_address: ${SUBNET_BRANCH_SERVERS}.254
        gw_priority: 10
      5admin_net:
        ipv4_address: ${SUBNET_BRANCH_ADMIN}.254
        gw_priority: 10
    ports:
      - "51820:51820/udp"
      - "8888:8888/tcp"
      - "33389:33389/tcp"
      - "33389:33389/udp"
    volumes:
      - ./branch/branch_fw/nftables.conf:/etc/nftables.conf:rw
    environment:
      SVC_IB_ADMIN_PASSWORD: ${SVC_IB_ADMIN_PASSWORD}
      SUBNET_UPLINK: ${SUBNET_BRANCH_UPLINK}
      SUBNET_ADMIN: ${SUBNET_BRANCH_ADMIN}
      SUBNET_DMZ: ${SUBNET_BRANCH_DMZ}
      SUBNET_SERVERS: ${SUBNET_BRANCH_SERVERS}
      SUBNET_USERS: ${SUBNET_BRANCH_USERS}
      VPN_SRV_IP: ${VPN_SRV_IP}
    dns:
      - ${SUBNET_BRANCH_SERVERS}.${IP_SRV_BRANCH_DNS}           

  srv_branch_dns:
    hostname: srv_branch_dns
    depends_on: [ branch_fw ]
    build: ./srv_dns
    container_name: srv_branch_dns
    cap_add: [ "NET_ADMIN" ]
    restart: always
    networks:
      4servers_net:
        ipv4_address: ${SUBNET_BRANCH_SERVERS}.${IP_SRV_BRANCH_DNS}
    volumes:
      - ./srv_dns/Corefile:/etc/coredns/Corefile:ro
      - ./srv_dns/layer8.ag.db:/etc/coredns/layer8.ag.db:ro
    dns: ["1.1.1.1", "8.8.8.8"]
    environment:
      GATEWAY_IP: ${SUBNET_BRANCH_SERVERS}.254
      DNS_SRV_IP: ${SUBNET_BRANCH_SERVERS}.${IP_SRV_BRANCH_DNS}

  srv_branch_wg_gate:
    build: ./srv_wg_portal
    container_name: srv_branch_wg_gate
    hostname: srv_branch_wg_gate
    restart: always
    cap_add:
      - NET_ADMIN
    volumes:
      - ./branch/srv_branch_wg_gate/data:/app/data
      - ./branch/srv_branch_wg_gate/config:/app/config
      - ./branch/srv_branch_wg_gate/etc/wireguard:/etc/wireguard   # Конфиги интерфейсов    
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    environment:  
      WB_ENABLE_NAT: true
      GATEWAY_IP: ${SUBNET_BRANCH_DMZ}.254
      LDAP_READONLY_USER_USERNAME: ${LDAP_READONLY_USER_USERNAME}
      LDAP_READONLY_USER_PASSWORD: ${LDAP_READONLY_USER_PASSWORD}  
      WG_PORTAL_ADMIN_USERNAME: ${WG_PORTAL_ADMIN_USERNAME}
      WG_PORTAL_ADMIN_PASSWORD: ${WG_PORTAL_ADMIN_PASSWORD}
      WAZUH_MANAGER_IP: ${SUBNET_INFOSEC}.${WAZUH_SRV_IP}
      LDAP_SRV_IP: ${SUBNET_SERVERS}.${LDAP_SRV_IP}
    networks:
      3dmz_net:
        ipv4_address: ${SUBNET_BRANCH_DMZ}.${IP_SRV_BRANCH_WG_GATE}
    dns:
      - ${SUBNET_BRANCH_SERVERS}.${IP_SRV_BRANCH_DNS}        

  srv_branch_bastion:
    build: ./bastion
    hostname: srv_branch_bastion
    container_name: srv_branch_bastion
    cap_add:
      - NET_ADMIN         
    volumes:
      - ./branch/srv_branch_bastion/home/users:/home/users/ # Персистентность данных пользователей
      #- ./srv_bastion_mgmt/wazuh/var/ossec/etc:/var/ossec/etc
      #- ./srv_bastion_mgmt/wazuh/var/ossec/queue:/var/ossec/queue
      #- ./srv_bastion_mgmt/wazuh/etc/filebeat:/etc/filebeat
      #- ./srv_bastion_mgmt/wazuh/var/lib/filebeat:/var/lib/filebeat     
    shm_size: "1gb" # Важно для стабильности браузеров и GUI  
    environment:
      LDAP_READONLY_USER_USERNAME: ${LDAP_READONLY_USER_USERNAME}
      LDAP_READONLY_USER_PASSWORD: ${LDAP_READONLY_USER_PASSWORD}  
      SG_USERS: SG-SRV-MGMT-USERS
      SG_ADMINS: SG-SRV-MGMT-ADMINS
      GATEWAY_IP: ${SUBNET_BRANCH_ADMIN}.254
      #WAZUH_MANAGER_IP: ${SUBNET_INFOSEC}.${WAZUH_SRV_IP}
      LDAP_SRV_IP: ${SUBNET_SERVERS}.${LDAP_SRV_IP}
      LOCALADMIN_PASSWORD: ${LOCALADMIN_PASSWORD}
    networks:
      5admin_net:
        ipv4_address: ${SUBNET_BRANCH_ADMIN}.${IP_SRV_BRANCH_BASTION}
    dns:
      - ${SUBNET_BRANCH_SERVERS}.${IP_SRV_BRANCH_DNS}         
  
  nat_cleaner:
    # САНИТАР NAT: Удаляет правила Masquerade, которые ломают Source IP в Docker Desktop (WSL)
    image: nicolaka/netshoot  
    container_name: nat_cleaner
    depends_on: [ branch_fw ]
    restart: always
    network_mode: host
    privileged: true
    command: |
      sh -c '
      echo "Starting NAT Cleaner..."
      BRIDGES="br-users br-admin br-dmz br-uplink br-servers"
      for br in $$BRIDGES; do
        echo "Removing bad NAT rule for $$br"
        iptables -t nat -D POSTROUTING -o $$br -m addrtype --src-type LOCAL -j MASQUERADE
      done
      '

networks:
  1uplink_net:
    name: 1uplink_net
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_BRANCH_UPLINK}.0/24
          gateway: ${SUBNET_BRANCH_UPLINK}.1         
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-uplink
      #com.docker.network.bridge.enable_ip_masquerade: "false"        
  2users_net:
    name: 2users_net
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_BRANCH_USERS}.0/24
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-users
      com.docker.network.bridge.enable_ip_masquerade: "false"            
  3dmz_net:
    name: 3dmz_net
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_BRANCH_DMZ}.0/24
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-dmz
      com.docker.network.bridge.enable_ip_masquerade: "false"            
  4servers_net:
    name: 4servers_net
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_BRANCH_SERVERS}.0/24     
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-servers
      com.docker.network.bridge.enable_ip_masquerade: "false"            
  5admin_net:
    name: 5admin_net
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_BRANCH_ADMIN}.0/24      
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-admin
      com.docker.network.bridge.enable_ip_masquerade: "false"                     
