
services:
  fw:
    hostname: fw_branch
    build: ./fw
    container_name: fw_branch
    privileged: true
    cap_add: [ "NET_ADMIN" ]
    restart: always
    sysctls:
      net.ipv4.ip_forward: 1    
      net.ipv4.conf.all.src_valid_mark: 1              
    networks:
      uplink_net:
        ipv4_address: ${SUBNET_UPLINK}.100
        gw_priority: 100
      users_net:
        ipv4_address: ${SUBNET_BRANCH_USERS}.1
        gw_priority: 10
      dmz_net:
        ipv4_address: ${SUBNET_BRANCH_DMZ}.1
        gw_priority: 10
      servers_net:
        ipv4_address: ${SUBNET_BRANCH_SERVERS}.1
        gw_priority: 10
      admin_net:
        ipv4_address: ${SUBNET_BRANCH_ADMIN}.1
        gw_priority: 10
    ports:
      - "51820:51820/udp"
      - "8888:8888/tcp"  
    volumes:
      - ./fw/nftables-branch.conf:/etc/nftables.conf:rw
    environment:
      SVC_IB_ADMIN_PASSWORD: ${SVC_IB_ADMIN_PASSWORD}
      GATEWAY_IP: ${SUBNET_UPLINK}.1
      SUBNET_UPLINK: ${SUBNET_UPLINK}
      SUBNET_ADMIN: ${SUBNET_BRANCH_ADMIN}
      SUBNET_DMZ: ${SUBNET_BRANCH_DMZ}
      SUBNET_SERVERS: ${SUBNET_BRANCH_SERVERS}
      SUBNET_USERS: ${SUBNET_BRANCH_USERS}
      VPN_SRV_IP: ${VPN_SRV_IP}
    dns:
      - ${SUBNET_SERVERS}.${DNS_SRV_IP}      

  srv_dns:
    hostname: srv_dns
    depends_on: [ fw ]
    build: ./srv_dns
    container_name: srv_dns
    cap_add: [ "NET_ADMIN" ]
    restart: always
    networks:
      servers_net:
        ipv4_address: ${SUBNET_BRANCH_SERVERS}.${DNS_SRV_IP}
    volumes:
      - ./srv_dns/Corefile:/etc/coredns/Corefile:ro
      - ./srv_dns/layer8.ag.db:/etc/coredns/layer8.ag.db:ro
    dns: ["1.1.1.1", "8.8.8.8"]
    environment:
      GATEWAY_IP: ${SUBNET_BRANCH_SERVERS}.1
      DNS_SRV_IP: ${SUBNET_BRANCH_SERVERS}.${DNS_SRV_IP}

  srv_wg_gate:
    build: ./srv_wg_gate
    container_name: srv_wg_gate
    hostname: srv_wg_gate
    restart: always
    cap_add:
      - NET_ADMIN
    volumes:
      - ./srv_wg_gate/data:/app/data
      - ./srv_wg_gate/config:/app/config
      - ./srv_wg_gate/etc/wireguard:/etc/wireguard   # Конфиги интерфейсов    
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    environment:  
      WB_ENABLE_NAT: true
      GATEWAY_IP: ${SUBNET_BRANCH_DMZ}.1
      WG_PORTAL_ADMIN_USERNAME: ${WG_PORTAL_ADMIN_USERNAME}
      WG_PORTAL_ADMIN_PASSWORD: ${WG_PORTAL_ADMIN_PASSWORD}
    networks:
      dmz_net:
        ipv4_address: ${SUBNET_BRANCH_DMZ}.${BRANCH_WG_GATE_IP}
    dns:
      - ${SUBNET_BRANCH_SERVERS}.${DNS_SRV_IP}        

networks:
  uplink_net:
    name: uplink_net
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_UPLINK}.0/24
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-uplink
      #com.docker.network.bridge.enable_ip_masquerade: "false"        
  users_net:
    name: users_net
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_BRANCH_USERS}.0/24
          gateway: ${SUBNET_BRANCH_USERS}.254 
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-users
      com.docker.network.bridge.enable_ip_masquerade: "false"            
  dmz_net:
    name: dmz_net
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_BRANCH_DMZ}.0/24
          gateway: ${SUBNET_BRANCH_DMZ}.254 
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-dmz
      com.docker.network.bridge.enable_ip_masquerade: "false"            
  servers_net:
    name: servers_net
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_BRANCH_SERVERS}.0/24
          gateway: ${SUBNET_BRANCH_SERVERS}.254        
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-servers
      com.docker.network.bridge.enable_ip_masquerade: "false"            
  admin_net:
    name: admin_net
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_BRANCH_ADMIN}.0/24
          gateway: ${SUBNET_BRANCH_ADMIN}.254        
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-admin
      com.docker.network.bridge.enable_ip_masquerade: "false"                     
